<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.qingshan.mapper.UserMapper">

    <select id="selectByName" resultType="com.hu.qingshan.model.DatabaseModel.User">
        select * from user where username = #{username}
    </select>

    <insert id="insert">
        insert into user (userId,username,password,nickname,icon,status) values (#{user.userId},#{user.username},#{user.password},#{user.nickname},#{user.icon},#{user.status})
    </insert>

    <select id="isUserExists" resultType="int">
        select count(*) from user where username = #{username}
    </select>

    <select id="selectById" resultType="com.hu.qingshan.model.DatabaseModel.User">
        select * from user where userId = #{userId}
    </select>

</mapper>